*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}



/* ----------------------------BODY------------------------------------ */
.body{
    background-color: black;
    color: white;
}

/* ---------------------------HEADER--------------------------------- */

.header ul {
    color: rgb(185, 93, 93);
    list-style-type: none;
}
.header a{
    color: rgb(185, 93, 93);
}

.header{
    background-image: url(../img/paneldesonido.jpg);
    background-size: cover;
    color: rgb(185, 93, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header h1{
    text-align: center;
    font-size: 15rem;
    padding: 8rem;
    /* background: #B95D5D;
    background: linear-gradient(to right, #B95D5D 33%, #FF0A0A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: 15px 18px 15px #000000;
    
}

.header nav ul {
    font-size: 2rem;
    /* display: flex;
    justify-content: space-around; */
}

.header nav ul :hover{
    transform: scale(1.15);
    color: orangered;
}

.header a{
    text-decoration: none;
    font-size: 2rem;
}

.header div{
    background-color: hsla(0, 0%, 0%, 0.534);
}

.titulos__menores{
    color: rgb(185, 93, 93);
    font-size: 3rem;
}
/* ------------------------------MAIN------------------------------------- */

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section__noticias{
    grid-column: 1/2;
    grid-row: 2/3;
}

.aside{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    }

.main p{
    color: white;
}

.main section img{
    width: 70%;
    border:inset grey 5px;
}

.juegos{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 400px 400px;
    justify-items: center;
    align-items: center;
}



.main__juegos{
    padding-left: 1rem;
}


.main__juegos h3{
    color: rgb(185, 93, 93);
    text-align: center;
    font-size: 3rem;
}

.main__juegos h5{
    color: rgb(185, 93, 93);
    font-size: 2rem;
    text-align: center;
}

.main__juegos img{
    height: 30vh;
    border:inset grey 5px;
}

.main__juegos li{
    list-style-type: none;
}

.discografia{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 400px 400px;
    text-align: center;
    font-size: 2rem;
}

.main__discografia ul li a{
    color: rgb(185, 93, 93);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}

.main__discografia h4{
    color: rgb(185, 93, 93);
    font-size: 3rem;
    text-align: center;
}

.main__historia{
    color: rgb(185, 93, 93);
}
.main__historia h3{
    color: rgb(185, 93, 93);
    text-align: center;
    font-size: 3rem;
}

.main__historia p{
    color: white;
    

}

.aside img{
    width: 100%;
    border:inset grey 5px;
    display: flex;
    justify-content: center;
}

.aside h2{
    color: rgb(185, 93, 93);
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.form{
    color: rgb(185, 93, 93);
    padding: 1rem;
    border:inset grey 5px;
    width: 100%;
}

/* ---------------------------FOOTER------------------------------------- */

.footer{
    background-color: black;
}

.footer h3{
    font-size: 3rem;
    color: rgb(185, 93, 93);
    background-color: black;
    border:inset grey 5px;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    text-decoration: none;
    width:16%;
    padding-left: 6%;
}


.footer img{
    padding-top: 0.5rem;
    width: 5rem;
}

.footer .barra__redes{
    display: inline-block;
    list-style-type: none;
    background-color: black;
}

/* ----------------------------------------MEDIA----------------------------------- */

@media  (min-width: 769px) and (max-width: 1024px) {
    .header h1{
        text-align: center;
        font-size: 8rem;
        padding: 1rem;
    }

    .main img{
        width: 100%;
    }

    .main__juegos img{
        width: 100%;
        height: 100%;
    }

    .main__juegos h4{
        text-align: center;
        font-size: 2rem;
        border:inset grey 5px;
    }

    .main__discografia a{
        display: flex;
        justify-content: center;
        border:inset grey 5px;
    }

    .main__discografia h4{
        background-color: grey;
    }

    .footer h3{
    font-size: 0px;
    border: 0px;
    }
}

@media (min-width:320px) and (max-width:768px){
    .header h1{
        text-align: center;
        font-size: 5rem;
        padding: 1rem;
    }

    .header nav ul {
        font-size: 120%;
    }

    .main{
        display: flex;
        flex-direction: column;
    }

    .main img{
        width: 100%;
        height: 100%;
    }

    .main h2{
        font-size: 2rem;
        text-align: center;
    }

    .main__juegos img{
        width: 100%;
        height: 100%;
    }

    .juegos{
        display: flex;
        flex-direction: column;
    }

    .main__juegos h3{
        font-size: 120%;
    }

    .main__juegos h4{
        text-align: center;
        font-size: 100%;
        border:inset grey 5px;
    }

    .main__discografia a{
        display: flex;
        justify-content: center;
        border:inset grey 5px;
    }

    .main__discografia h4{
        background-color: burlywood;
    }

    .footer h3{
    font-size: 0px;
    border: 0px;
    }

    .footer img{
        width: 2rem;
    }
}

@media (min-width:0px) and (max-width:319px){
    .header h1{
        text-align: center;
        font-size: 5rem;
        padding: 1rem;
    }

    .header nav ul {
        font-size: 120%;
    }

    .main{
        display: flex;
        flex-direction: column;
    }

    .main img{
        width: 100%;
        height: 100%;
    }

    .main h2{
        font-size: 2rem;
        text-align: center;
    }

    .main__juegos img{
        width: 100%;
        height: 100%;
    }

    .juegos{
        display: flex;
        flex-direction: column;
    }

    .main__juegos h3{
        font-size: 120%;
    }

    .main__juegos h4{
        text-align: center;
        font-size: 100%;
        border:inset grey 5px;
    }

    .main__juegos h5{
        font-size: 100%;
    }

    .main__discografia a{
        display: flex;
        justify-content: center;
        border:solid grey 5px;
    }

    .main__discografia h4{
        background-color: violet;
    }

    .footer h3{
    font-size: 0px;
    border: 0px;
    }

    .footer img{
        width: 2rem;
    }
}

