.listas__discografia{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 400px 400px;
    text-align: center;
    font-size: 1.5rem;
}

.main__discografia ul li a{
    color: rgb(185, 93, 93);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}

.main__discografia h4{
    color: rgb(185, 93, 93);
    font-size: 3rem;
    text-align: center;
}