.footer{
    background-color: black;
}

.footer h3{
    font-size: 3rem;
    color: rgb(185, 93, 93);
    background-color: black;
    border:inset grey 5px;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    text-decoration: none;
    width:16%;
    padding-left: 6%;
}


.footer img{
    padding-top: 0.5rem;
    width: 3.5rem;
}

.footer img:hover{
    transform: scale(1.05);
}

.footer .barra__redes{
    display: inline-block;
    list-style-type: none;
    background-color: black;
}
