.header ul {
    color: map-get($map: $colores, $key:"titulos");
    list-style-type: none;
}
.header a{
    color: map-get($map: $colores, $key:"titulos");
}

.header{
    background-image: url(../img/paneldesonido.jpg);
    background-size: cover;
    color: map-get($map: $colores, $key:"titulos");
    display: flex;
    flex-direction: column;
    justify-content: center;
}
//  prueba----------------------
.header--test{
    @extend.header;
    display: none;
}
// prueba-----------------------
.header img{
    height: 100vh;
    width: 100vw;
}

.header h1{
    text-align: center;
    font-size: 15rem;
    padding: 8rem;
    text-shadow: map-get($map: $colores, $key:"sombra" );
    
}

.header nav ul {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.header nav ul :hover{
    transform: scale(1.05);
    color: map-get($map: $colores, $key:"hover");
}

.header a{
    text-decoration: none;
}

.header div{
    background-color:  map-get($map: $colores, $key:"div-transparente");
}

.titulos__menores{
    color: map-get($map: $colores, $key:"titulos");
    font-size: 3rem;
}